<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Controle de Dados
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="medium">
    <div class="corpo">
      <ion-list>
        <ion-item>
          <ion-input name="vetor" [(ngModel)]="vetor" type="text" (keydown)="verificaEntrada(vetor)"
            placeholder="Valores de entrada">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-icon center name="calendar"></ion-icon>
          <ion-datetime display-format="DD/MM/YYYY" picker-format="DD MMMM YYYY"></ion-datetime>
        </ion-item>
        <ion-button class="btn_adicionar" color="dark" (click)="bubbleSort(vetor)" (click)="toast()">
          <ion-ripple-effect></ion-ripple-effect>Adicionar
        </ion-button>
      </ion-list>
      <ion-item>
        <ion-input type="text" disabled ion-text-center>{{acoes.vetor}}</ion-input>
      </ion-item>
      <ion-row>
        <ion-col>
          <p>I ={{acoes.i}}</p>
        </ion-col>
        <ion-col>
          <p>T ={{acoes.t}}</p>
        </ion-col>
        <ion-col>
          <p>C ={{acoes.c}}</p>
        </ion-col>
      </ion-row>
      	<!--<ion-select-option id="select">
          <option value="Bolha">BOLHA</option>
          <option value="Selecao">SELEÇÃO</option>
          <option value="insercao">INSERÇÃO</option>
          <option value="Quick">QUICK</option>
      	</ion-select-option> -->  
    </div>